@font-face {
  font-family: 'Playfair Display';
  src: url(../../assets/font/PlayfairDisplay-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Playfair Display';
  src: url(../../assets/font/PlayfairDisplay-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Playfair Display';
  src: url(../../assets/font/PlayfairDisplay-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Roboto';
  src: url(../../assets/font/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url(../../assets/font/Roboto-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url(../../assets/font/Roboto-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
